.sliderItem{
    width: 100%;
}

.sliderItem .container{
    height: 100vh;
    padding-bottom: 1em;
    overflow: hidden;
}
.sliderItem img{
    object-fit: cover;
    height: 100%;
}
.sliderItem .col-12{
    padding: 0;
}

.logo{
    width: 300px;
    height: auto;
}
.bannerImg{
    width: 100%;
    height: 100%;
}
.seeMore{
    position: absolute;
    bottom:30px;
    color: white;
    font-weight: 400;
    right: 0;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
}
.seeMore>div{
    display: flex;
    align-items: center;
}
.seeMore>div:hover{
    cursor: pointer;
}
.movedUpImg{
    margin-top: -50px;
}
@media screen and (max-width: 768px){
    .sliderItem .col-12{
        height: fit-content;
    }
    .sliderItem .container{
        overflow: visible;
        height: fit-content;
    }
    .sliderItem img{
        height: 50vh;
        object-position: top;
    }
    .movedUpImg{
        margin-top: 0;
    }
    
}