:root {
    --color-terracota: #D6C0AE;
    --color-brown: #723D2D;
}

.bg-letter {
    position: relative;
    background-color: var(--color-terracota);
}

.bg-letter {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-image: url(../public/assets/images/bg-letter.png);
}

.btnBuy {
    background-color: var(--color-brown);
    border-color: var(--color-brown);
    color: white;
}

.button {
    padding: 0.5em 1.5em;
    text-decoration: none;
    border-radius: 0;
}

.button:hover {
    cursor: pointer;
    color: currentColor;
}

@media screen and (min-width: 768px) {
    .h-md-100 {
        height: 100%;
    }
}